@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Ensures no extra scrolling */
}

#root {
  display: flex;
  flex-direction: column;
}

.slider-wrapper,
.slick-slider {
  height: 100vh; /* Ensure slider takes full viewport height */
}

.slick-slide {
  height: 100vh; /* Ensure each slide takes full viewport height */
  display: flex; /* Flexbox to center content */
  justify-content: center;
  align-items: center;
}
